VITE_SUPABASE_URL== Pass your Supabase URL here. You can find it in your Supabase project settings under "API".
VITE_SUPABASE_ANON_KEY== Pass your Supabase anon key here. You can find it in your Supabase project settings under "API".